/* Show it is fixed to the top */
body {
  height: 100%;
  padding-top: 4rem;
}
.dfactura {
	height: 65%;
}
.teclado {
	height: 35%;
}
.b-categorias {
	margin-bottom: 3px;
  margin-top: 3px; 
}
.c-link {
   position:  absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   text-align: center;
   white-space: normal;
}
.b-productos {
	width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position:  relative;
    margin-bottom: 2px;
    margin-top: 2px; 
}
.c-productos {
   position:  absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   text-align: center;
   white-space: normal;
}
.btnx-tab {
	margin-top: -2px;
	margin-left: 2px;
}
